html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background: white;
  width: 800px;
  height: 450px;
  image-rendering: pixelated;
}
